<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

	<div class="card">
		<div class="card-body">
			<input id="name" type="text" formControlName="name" placeholder="Name"/>
    </div>

			<div class="card-body">
				<input id="followers" type="text" formControlName="followers" placeholder="Followers"/>
    </div>

				<div class="card-body">
					<input id="description" type="text" formControlName="description" placeholder="Description"/>
    </div>


					<button class="btn btn-outline-primary" type="submit">Enregister</button>
				</div>

</form>